@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');

body {
  background-color: #f8dcc8;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 60px;
  text-align: left;
  margin: 0;
  font-weight: 900;
  color: #13b480;
}

.kitchen-container {
  margin: 20px auto 200px auto; /* Adjusted margin-top to move the container up */
  width: 90%;
  border: 1px solid #13b480;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.h3-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.h3-container h3 {
  font-size: 48px;
  color: #02a284;
}

.kitchen-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#table-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px; /* Adjust the negative margin-top value as desired */
    margin-left: 80px; /* Adjust the margin-left value as desired */
  }
  

#empty-table-message {
  text-align: center;
  font-size: 24px;
  color: #13b480;
}

.kitchen-form {
  margin-bottom: 2rem;
  width: 45%; /* Adjust according to your preference */
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #13b480;
    margin-bottom: 1rem;
}

#kitchen-table {
    width: 100%;
    color: #13b480;
    border-collapse: collapse;
    margin: 0 auto;
  }

#kitchen-table th {
    background-color: #13b480;
    color: white;
    text-align: left;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

#kitchen-table td {
    text-align: left;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
}

#kitchen-table th, #kitchen-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(19, 180, 128, 0.05);
}

.delete-button {
  padding: 5px 10px;
  background-color: #13b480;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #02a284;
}

.submit-button {
    background-color: #13b480;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    line-height: 0.5;
    border-radius: 0.3rem;
    text-align: center;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button:hover {
    background-color: #568b78;
    border-color: #568b78;
}

/* Table */
.kitchen-table {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
    border-collapse: collapse;
}

.kitchen-table th,
#kitchen-table td {
    text-align: left;
    padding: 20px;
    font-size: 20px; /* Adjust the font size as desired */
    font-weight: 700;
  }
  

.kitchen-table th {
    background-color: #f8f9fa;
    color: #212529;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
  }
  
  .toggle-btn {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #eaeef0;
    color: #212529;
  }
  
  .toggle-btn.active {
    background-color: #02a284;
    color: white;
  }
  
  .toggle-btn:hover {
    background-color: #02a284;
    color: white;
  }
  